body.body--modal {
  margin: 0;
  overflow: hidden;
}

body.body--modal nav {
  display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.modal {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin: 0rem 0 5rem;
}

.modal.activated {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal--back-project .container {
  background-color: white;
  width: 85%;
  position: absolute;
  top: 60px;
  overflow: visible;
  border-radius: 8px;
  padding: 1.75rem 1.5rem 0.5rem;
  margin-bottom: 0.5rem;
}

.modal--back-project .container section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1.3rem;
}

.modal--back-project .container section strong {
  width: 100%;
  font-size: 1.4rem;
  font-weight: 700;
}

.modal--back-project .container section button {
  background: none;
  height: 100%;
  font-size: 0;
  border: 0;
  cursor: pointer;
}

.modal--back-project .container section button:hover > img {
  opacity: 80%;
}

.modal--back-project .container p {
  width: 100%;
  color: var(--dark-gray);
  font-size: 1rem;
  line-height: 1.5rem;
  margin-bottom: 1.5rem;
}

.modal--back-project .container .reward {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid var(--dark-gray);
  border-radius: 8px;
  margin: 1.3rem 0;
  padding: 1.5rem 0 0;
  cursor: pointer;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}

.modal--back-project .container .reward:last-child {
  margin-bottom: 1rem;
}

.modal--back-project .container .reward .reward-div {
  padding: 0 1.5rem;
}

.modal--back-project .container .reward .reward-div section {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.modal--back-project .container .reward .reward-div section span {
  width: 22px;
  height: 22px;
  font-size: 0;
  margin-right: 0.8rem;
  border: 1px solid var(--dark-gray);
  border-radius: 50%;
}

.modal--back-project .container .reward .reward-div section .title {
  width: 100%;
  font-size: 0.9rem;
  text-align: start;
  margin-bottom: 0.3rem;
}

.modal--back-project .container .reward .reward-div section .price {
  width: 100%;
  font-size: 0.9rem;
  text-align: start;
  color: var(--moderate-cyan);
  font-weight: 500;
}

.modal--back-project .container .reward .reward-div .describe {
  width: 100%;
  color: var(--dark-gray);
  font-size: 0.9rem;
  text-align: start;
  margin-bottom: 1rem;
}

.modal--back-project .container .reward .reward-div .how-many {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: var(--dark-gray);
  font-size: 1.1rem;
  margin: 0.7rem 0 1.5rem;
}

.modal--back-project .container .reward .reward-div .how-many strong {
  width: auto;
  color: black;
  font-size: 1.4rem;
  margin-right: 0.55rem;
}

.modal--back-project .container .reward .pay-container {
  display: none;
}

.modal--back-project .container .reward.reward--outstock {
  opacity: 50%;
  cursor: default;
}

.modal--back-project .container .reward.reward--selected {
  border: 2px solid var(--moderate-cyan);
}

.modal--back-project .container .reward.reward--selected span {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal--back-project .container .reward.reward--selected span::before {
  content: '';
  background-color: var(--moderate-cyan);
  width: 50%;
  height: 50%;
  position: absolute;
  top: 0;
  border-radius: 50%;
  -webkit-transform: translate(0%, 50%);
          transform: translate(0%, 50%);
}

.modal--back-project .container .reward.reward--selected .pay-div {
  width: 100%;
  border-top: 1px solid rgba(128, 128, 128, 0.4);
}

.modal--back-project .container .reward.reward--selected .pay-div .pay-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
  padding: 0 1.5rem;
}

.modal--back-project .container .reward.reward--selected .pay-div .pay-container p {
  text-align: center;
}

.modal--back-project .container .reward.reward--selected .pay-div .pay-container div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal--back-project .container .reward.reward--selected .pay-div .pay-container div * {
  margin: 0 auto;
}

.modal--back-project .container .reward.reward--selected .pay-div .pay-container div input {
  width: 40%;
  height: 50px;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  border-radius: 30px;
  border: 1px solid var(--moderate-cyan);
  outline: none;
}

.modal--back-project .container .reward.reward--selected .pay-div .pay-container div .button--continue {
  background-color: var(--moderate-cyan);
  width: 50%;
  height: 50px;
  color: white;
  font-size: 1rem;
  border-radius: 30px;
}

.modal--support .container {
  background-color: white;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 180px;
  padding: 1.5rem 1.5rem 2rem;
  border-radius: 8px;
}

.modal--support .container img {
  margin-bottom: 1rem;
}

.modal--support .container strong {
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: 1.8rem;
}

.modal--support .container p {
  color: var(--dark-gray);
  font-size: 1rem;
  text-align: center;
  line-height: 1.7rem;
  margin-bottom: 2rem;
}

.modal--support .container .back-close-modal {
  background-color: var(--moderate-cyan);
  width: 50%;
  height: 60px;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  border: 0;
  border-radius: 30px;
  cursor: pointer;
}

.modal--navbar section {
  width: 100%;
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  position: absolute;
  top: 0px;
}

.modal--navbar section .logo {
  height: 25px;
}

.modal--navbar section button {
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0;
  border: 0;
  cursor: pointer;
}

.modal--navbar section button img {
  width: 18px;
  height: 18px;
}

.modal--navbar .container {
  background-color: white;
  width: 85%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
  position: absolute;
  top: 80px;
  border-radius: 8px;
}

.modal--navbar .container li {
  width: 100%;
  font-size: 1rem;
  font-weight: 500;
  text-align: start;
  padding: 1.4rem 1.2rem;
  cursor: pointer;
}

.modal--navbar .container li:nth-child(2) {
  border-top: 1px solid #80808050;
  border-bottom: 1px solid #80808050;
}
/*# sourceMappingURL=modal.css.map */